@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

html {
  background: url('assets/images/main-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.spgraph
{
	margin: 50px;
}

.link
{
	stroke: #000000;
}

.bold
{
	stroke: #FF0000;
	stroke-width: 4;
}

.label
{
	fill: #FFFFFF;
	stroke: #FFFFFF;
}

.node
{
	fill: #3E4552;
	stroke: #3E4552;
}

table.input
{
	margin: 20px 50px;
}

table.input td
{
	width: 60px;
	text-align: center;
}

